name: Duplicates main to old master branch

on:
  push:
    branches:
      - main

jobs:
  copy-branch:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: main  # main 브랜치를 체크아웃합니다.

      - name: Configure Git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git remote set-url origin "https://github-actions:${{ secrets.GITHUB_TOKEN }}@github.com/seongssu/test.git"


      - name: Merge and Push
        run: |
          git merge origin/main
          git push
