# Duplicates default main branch to the old master branch

name: Duplicates main to old master branch

# Controls when the action will run. Triggers the workflow on push to the specified branch
on:
  push:
    branches:
      - feat/home

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "copy-branch"
  copy-branch:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # Merge changes from origin/feat/home into the current branch
      - run: |
          git config user.name seongssu
          git config user.email loveforggong@github.com
          git merge origin/feat/home
          git push
